{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Build Baron Analyzer</h2>
    <p class="lead">Click on "Expand Details" button for more information about each failure. Click on "Failure Details View" to find duplicate bugs for the test failure, and close as duplicate or gone away.</p>
    <p>
        <!-- Useful links and the like -->
        <a href="https://evergreen.mongodb.com" class="btn btn-primary btn-medium">Evergreen</a>
        <a href="https://jira.mongodb.org/secure/RapidBoard.jspa?rapidView=517" class="btn btn-primary btn-medium">Build Baron Queue</a>
        <a href="https://goo.gl/K9zt0b" class="btn btn-primary btn-medium">Build Baron Workflow</a>
        <a href="https://goo.gl/27rslS" class="btn btn-primary btn-medium">Investigating a Build Failure</a>
        <a href="https://goo.gl/jj4hnx" class="btn btn-primary btn-medium">Fantastic Bugs and Where to Find Them</a>
    </p>
</div>

<div>
    <h3>Statistics</h3>
    <h4>Build Failure Count: {{bf_count}}</h4>
    <h4>Date: {{date}}</h4>
    <h4>Query: <text class="code-line">{{query}}</text></h4>
</div>

<!-- Text search /-->
<div id="bfg-text-search-error"></div>
Search summaries: <input type="text" class="full-width-text-input" id="bfg-text-search" size="400"/>
&nbsp;&nbsp;<button type="button" class="btn btn-danger" id="bfg-text-search-btn">Search</button>

<br/><br/>

<script>
  $( "#bfg-text-search-btn" ).click(function() {
      var text = $( "#bfg-text-search" ).val();
      if (!text) {
          $( "#bfg-text-search-error" ).html("Please enter valid text.");
      return;
  }

  var data = {
      "text" : text,
  };

  $.ajax({
      url: "/bfg_text_search",
      data: JSON.stringify(data, null, '\t'),
      contentType: 'application/json;charset=UTF-8',
      type: 'POST',
      success: function(response) {
          $("html").empty();
          $("html").append(response);
      },
      error: function(error) {
          console.log(error);
      }
  });

  });
</script>


<form method="POST" action="/bulk_close_duplicate">
<div class="row">
    <div class=".col-lg-12">
        <table class="table" data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="false">Select</th>
                    <th data-field="issue" data-sortable="true">Issue</th>
                    <th data-field="id" data-sortable="true">Task/Test Id</th>
                    <th data-field="summary" data-sortable="true">Summary</th>
                    <th data-field="name" data-sortable="true">Test Name</th>
                </tr>
            </thead>
            <tbody>
                <fieldset>
                {% for failed_bf in failed_bfs %}
                <tr>
                    <td>
                      <!-- Bulk close checkbox /-->
                      <input type="checkbox" name="issues" class="bf-bulk-checkbox" value="{{failed_bf["bfg_info"]["issue"]}}"/>
                    </td>

                    <td>
                      <!-- Issue name, and close-as-dup for this ticket only /-->
                      <a href="https://jira.mongodb.org/browse/{{failed_bf["bfg_info"]["issue"]}}">
                        {{failed_bf["bfg_info"]["issue"]}}
                      </a>
                      <br />
                      {{failed_bf["bfg_info"]["type"]}}
                      <br/><br/>

                      <div id="dup-{{failed_bf['bfg_info']['issue']}}">
                      <p>Duplicates: <input type="text" id="close-dup-{{failed_bf['bfg_info']['issue']}}" /></p>
                      <p><button type="button" class="btn btn-danger" id="close-dup-btn-{{failed_bf['bfg_info']['issue']}}">Close</button></p>
                      </div>

                      <script>
                        $( "#close-dup-btn-{{failed_bf['bfg_info']['issue']}}" ).click(function() {
                            var issue = "{{failed_bf['bfg_info']['issue']}}";
                            var duplicate = $( "#close-dup-{{failed_bf['bfg_info']['issue']}}" ).val();

                            var s = "Closing " + issue + " as duplicate of " + duplicate;

                            var data = {
                                "issue" : issue,
                                "duplicate" : duplicate,
                            };

                            $.ajax({
                                url: "/close_duplicate_home_page",
                                data: JSON.stringify(data, null, '\t'),
                                contentType: 'application/json;charset=UTF-8',
                                type: 'POST',
                                success: function(response) {

                                    // if we succeeded, remove button
                                    if (response == "ok") {
                                        $( "#dup-{{failed_bf['bfg_info']['issue']}}" ).html("Closed.");
                                    } else {
                                        $( "#dup-{{failed_bf['bfg_info']['issue']}}" ).prepend(response);
                                    }
                                },
                                error: function(error) {
                                console.log(error);
                                    $( "#dup-{{failed_bf['bfg_info']['issue']}}" ).html(error);
                                }
                            });
                        });
                      </script>

                    </td>

                    <td>{{failed_bf["bfg_info"]["name"]}}
                        <div class="container">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{(failed_bf["bfg_info"]["summary"] + failed_bf["bfg_info"]["name"])|hash_name}}">Expand Details</button>
                            <a href="failure?issue={{failed_bf["bfg_info"]["issue"]}}&test_name={{failed_bf["bfg_info"]["name"]}}"><button type="button" class="btn btn-info">Failure Details View</button></a>
                            <div id="{{(failed_bf["bfg_info"]["summary"] + failed_bf["bfg_info"]["name"])|hash_name}}" class="collapse">
                                <a href="{{failed_bf["bfg_info"]["task_url"]}}">Task Page</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{failed_bf["bfg_info"]["log_file_url"]}}">Test or Task Raw Log File</a><br />
                                <a href="{{failed_bf["bfg_info"]["task_log_file_url"]}}">Task Raw Log File</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{failed_bf["bfg_info"]["system_log_url"]}}">Task System Raw Log File</a><br />
                                <b>Extracted Faults:</b><br/>
                                {% for fault_info in failed_bf["faults"] %}
                                  <b>Category: {{fault_info["category"]}}</b><br />
                                  <b>Source: </b>{{fault_info["source"]}}<br />
                                  <b>Log Lines: </b> <a href="{{failed_bf["bfg_info"]["log_file_url"]|tohtml_logurl}}#L{{fault_info["line_number"]}}">Log File Fault</a>
                                  <div class='buildbaron-noformat'>
                                    <table>
                                      {% for line in fault_info["context"].splitlines() %}
                                        <tr>
                                          <td class='buildbaron-code-line-td'>
                                            <pre class='code-line'><span>{{line}}</span></pre>
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    </table>
                                  </div>
                                  <br/>
                                {% endfor %}
                                {% for test_info in failed_bf["test_faults"] %}
                                  <b>Faults from test {{test_info["test"]}}</b><br />
                                  {% for test_fault_info in test_info["faults"] %}
                                      <b>Category: {{test_fault_info["category"]}}</b><br />
                                      <div class='buildbaron-noformat'>
                                        <table>
                                          {% for line in test_fault_info["context"].splitlines() %}
                                            <tr>
                                              <td class='buildbaron-code-line-td'>
                                                <pre class='code-line'><span>{{line}}</span></pre>
                                              </td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>{{failed_bf["bfg_info"]["summary"]}}</td>
                    <td>{{failed_bf["bfg_info"]["name"]}}</td>
                </tr>
                {% endfor %}
                </fieldset>
            </tbody>
        </table>
    </div>
    <!--
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <pre>
            {{ config|pprint }}
            {{ request|pprint }}
</pre>
        </div>
    </div>
        -->
</div>
<div>
    <h3>Bulk Close Tool</h3>
    <p>
        You can close multiple tickets as a duplicate of a single ticket.
        Please use this tool carefully, and only bulk close tickets for which
        you're certain of the root cause. Check the box next to the tickets to
        close and enter the issue key of the duplicated ticket in the
        textbox.
    </p>
    Select all: <input type="checkbox" id="bulk-close-select-all" />
    <p id="bulk-close-select-all-warning" style="color:red;"></p>

    <script>
      $("#bulk-close-select-all").click(function() {
          if ($(this).prop("checked")) {
              $("#bulk-close-select-all-warning").html("WARNING: about to close all tickets, are you sure?!");
              $(".bf-bulk-checkbox").prop("checked", true);
          } else {
              $("#bulk-close-select-all-warning").html("");
              $(".bf-bulk-checkbox").prop("checked", false);
          }
      });
    </script>

    <p>Duplicated issue key: <input type="text" name="duplicated_ticket" /></p>
    <p><input type="submit" class="btn btn-danger" value="Bulk Close!" /></p>
</div>
</form>

{% endblock %}
