{% extends "layout.html" %}

{% block content %}
                                    <div class='buildbaron-noformat'>
                                      <table>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:01.384] [executor:js_test:job1] 2017-02-14T18:48:01.384+0000 Running id_index_replication.js...</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'><span>[2017/02/14 18:48:01.384] ./mongo --eval MongoRunner.dataDir = &#34;/data/db/job1/mongorunner&#34;; TestData = new Object(); TestData.wiredTigerEngineConfigString = &#34;&#34;; TestData.maxPort = 20499; TestData.storageEngineCacheSizeGB = &#34;1&#34;; TestData.wiredTigerIndexConfigString = &#34;&#34;; TestData.useLegacyReplicationProtocol = true; TestData.noJournal = false; TestData.isMainTest = true; TestData.testName = &#34;id_index_replication&#34;; TestData.storageEngine = &#34;inMemory&#34;; TestData.minPort = 20260; TestData.noJournalPrealloc = true; TestData.wiredTigerCollectionConfigString = &#34;&#34;; MongoRunner.dataPath = &#34;/data/db/job1/mongorunner/&#34; --nodb jstests/replsets/id_index_replication.js</span> </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:01.454] [executor:js_test:job1] 2017-02-14T18:48:01.454+0000 Writing output of JSTest jstests/replsets/id_index_replication.js to https://logkeeper.mongodb.org/build/74df877d260b99fbe206fe16592ca195/test/58a350e1be07c470ea023d6e/.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:02.044] [executor:js_test:job0] 2017-02-14T18:48:02.044+0000 initial_sync_fail_insert_once.js ran in 7.71 seconds.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:02.056] [executor:js_test:job0] 2017-02-14T18:48:02.056+0000 Running server_status_metrics.js...</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:02.056] ./mongo --eval MongoRunner.dataDir = &#34;/data/db/job0/mongorunner&#34;; TestData = new Object(); TestData.wiredTigerEngineConfigString = &#34;&#34;; TestData.maxPort = 20249; TestData.storageEngineCacheSizeGB = &#34;1&#34;; TestData.wiredTigerIndexConfigString = &#34;&#34;; TestData.useLegacyReplicationProtocol = true; TestData.noJournal = false; TestData.isMainTest = true; TestData.testName = &#34;server_status_metrics&#34;; TestData.storageEngine = &#34;inMemory&#34;; TestData.minPort = 20010; TestData.noJournalPrealloc = true; TestData.wiredTigerCollectionConfigString = &#34;&#34;; MongoRunner.dataPath = &#34;/data/db/job0/mongorunner/&#34; --nodb jstests/replsets/server_status_metrics.js</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:02.120] [executor:js_test:job0] 2017-02-14T18:48:02.120+0000 Writing output of JSTest jstests/replsets/server_status_metrics.js to https://logkeeper.mongodb.org/build/f4ad0b21b6c5195d3e370a3f60427d93/test/58a350e254f2480bbf025d50/.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:07.675] [executor:js_test:job0] 2017-02-14T18:48:07.675+0000 server_status_metrics.js ran in 5.62 seconds.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:08.008] [executor:js_test:job1] 2017-02-14T18:48:08.008+0000 id_index_replication.js ran in 6.62 seconds.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:48:10.726] [executor:js_test:job3] 2017-02-14T18:48:10.726+0000 background_index.js ran in 11.84 seconds.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.455] [executor:js_test:job2] 2017-02-14T18:49:52.454+0000 replsetprio1.js ran in 614.03 seconds.</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504] [executor:js_test] 2017-02-14T18:49:52.503+0000 Summary: 123 test(s) ran in 753.36 seconds (122 succeeded, 0 were skipped, 1 failed, 0 errored)</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504]     The following tests failed (with exit code):</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504]         jstests/replsets/replsetprio1.js (253)</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504] [resmoke] 2017-02-14T18:49:52.504+0000 ================================================================================</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504] [resmoke] 2017-02-14T18:49:52.504+0000 Summary of replica_sets_legacy suite: 123 test(s) ran in 753.64 seconds (122 succeeded, 0 were skipped, 1 failed, 0 errored)</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504]     js_tests: 123 test(s) ran in 753.36 seconds (122 succeeded, 0 were skipped, 1 failed, 0 errored)</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504]         The following tests failed (with exit code):</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.504]             jstests/replsets/replsetprio1.js (253)</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                          <tr>
                                            <td>
                                              <pre class='code-line'>
                                                <span>[2017/02/14 18:49:52.580] Command failed: exit status 1</span>
                                              </pre>
                                            </td>
                                          </tr>
                                        
                                      </table>
                                    </div>
{% endblock %}
